Repository C-B-U/owl-forest, pull requests merged in 2022-10, with the labels that each got.

#35 Delete: #6 AdminRepository, entity, repository in admin
  backend/src/main/java/com/cbu/backend/admin/controller/AdminController.java
  backend/src/main/java/com/cbu/backend/admin/service/AdminService.java
  backend/src/main/java/com/cbu/backend/member/controller/MemberController.java
  backend/src/main/java/com/cbu/backend/member/entity/Member.java
  backend/src/main/java/com/cbu/backend/member/repository/MemberRepository.java
  backend/src/main/java/com/cbu/backend/member/service/MemberService.java
Labels: backend, 삭제

#33 feat:#23 Header Component 퍼블리싱
  frontend/src/Components/ActivityLog/Header.jsx
Labels: 기능구현, frontend

#82 feat: #62 Member Login Request, Response dto 구현
  backend/src/main/java/com/cbu/backend/member/dto/request/MemberLoginRequestDTO.java
Labels: 기능구현, backend
